HOST='0.0.0.0'
APP_ENV='production'
SESSION_SECRET='secret'
HTTP_TIMEOUT=100000

MONGODB_URI='mongodb://heroku_57kk1z9w:bhkjdtv0a7crt1n1cmef8nvr2g@ds147080.mlab.com:47080'
MONGODB_DB='heroku_57kk1z9w'


CLOUDINARY_API_KEY='327598652687845'
CLOUDINARY_API_SECRET='o3pgDWduQsBtkjIeh23I0pSwLyk'
CLOUDINARY_NAME='da1r2hrzt'

MAIL_FROM='nguonchhay.touch@gmail.com'
SENDGRID_API_KEY='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'