PORT=3001
SESSION_SECRET='secret'

MONGO_URI='mongodb://localhost'
MONGO_DB='mern'
MONGO_USER='mern'
MONGO_PASSWORD='pwdmern'

CLOUDINARY_API_KEY='327598652687845'
CLOUDINARY_API_SECRET='o3pgDWduQsBtkjIeh23I0pSwLyk'
CLOUDINARY_NAME='da1r2hrzt'